torch
torchvision
xformers==0.0.24
einops
diffusers
transformers
huggingface_hub[torch]
Pillow
emoji
numpy
tqdm
jupyterlab
gradio==4.21.0
peft
fire
accelerate
cuda-python==11.8.3
onnx==1.15.0
onnxruntime==1.16.3
protobuf==3.20.2
-i https://pypi.ngc.nvidia.com
onnx-graphsurgeon==0.3.26
polygraphy==0.47.1
